extends layout

block content
  h1.text-center= title
  p.font-medium Number of items: #{count}
  div.categories-container
    each item in items
      div.category-container
        a(href=item.url) #{item.name}
    
    else 
      p There are no categories.
